.navbar{
  background-color: red;
  height: 100px;
}

.menu-entries {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.logo-container {
  height: 100px;
}

.navbar-brand {
  max-height: 100px;
}

.pokemon-logo {
  height: 80px;
}

.nav-link {
  font-family: 'Pokemon';
  font-size: 30px;
  color: #ffcc03 !important;
  text-shadow: -1.5px 0 #3b4cca, 0 1.5px #3b4cca, 1.5px 0 #3b4cca, 0 -1.5px #3b4cca;
}

@media only screen and (max-width: 800px) {
  .logo-container {
    display: none;
  }

  .navbar-nav {
    width: 100%;
  }
}

@media only screen and (max-width:570px) {
  .nav-link {
    font-size: 20px;
  }
}
